*,*::before,*::after{
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    
    background-color: lightsalmon;
}

.root{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";

    height: 100%;
}

 .header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
    background-color: beige;
}

.header__title{
    grid-column: span 10;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    font-size: 2.1rem;
}

.header__logo{
    grid-column: span 2;

    vertical-align: top;
    aspect-ratio: 1/1;
    width: 100%;
}

.nav{
    grid-area: nav;
    margin: 0.05rem;
    border: 0.1rem solid brown;
}

.nav__menu{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:0.1rem;

    padding: 0;
    margin: 0;

    list-style: none;
}

.nav__dropdown{
    grid-column: span 4;
    position: relative;

    background-color: burlywood;
    text-align: center;
}

.nav__button{
    border: none;
    padding: 0;
    background-color: inherit;

    color: black;

    font-size: inherit;
    cursor: pointer;
}

.nav__link{
    display: flex;
    line-height: 3.1rem;
    color: #44506F;
    text-decoration: none;
    font-weight: bold;
}

.nav__submenu{
    position: absolute;

    background-color: inherit;
    
    padding: 0;
    margin: 0;
    transform: rotateX(0deg);
    transition: transform 1s;

    width: -webkit-fill-available;

    overflow: hidden;
    list-style: none;
}

.nav__submenu__onclick{
    transform: rotateX(-90deg);
}

.nav__subitem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: 0.1rem #44506F solid;
}

.nav__item{
    color: #44506F;
    text-decoration: none;
}

.main{
    grid-area: main;
}

.main__title{
    display: grid;
    justify-content: space-evenly;
    padding: 0.25rem;
    margin-top: 1.5rem;
    align-items: center;
    
    font-style: italic;
}

.form{
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    gap:1rem;
    padding: 1.25rem;
}

.form__name,.form__email,.form__confirm__email{
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12,2fr);
    gap: 0.5rem;

}

.name,.email,.confirm__email{
    grid-column: span 4;
    justify-self: start;
    font-size: large;
}

.name__input,.email__input,.confirm__email__input{
    grid-column: span 8;
    font-size: large;
}

.name__valid,
.email__valid,
.confirm__email__valid{
    grid-column: span 12;
    border: 0;
    margin: 0;
    color: red;
    text-align: center;
}

.form__checkbox{
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12,2fr);
    gap: 0.5rem;
}

.checkbox__check{
    grid-column: span 4;
    justify-self: start;
    font-size: large;
}

.checkbox{
    grid-column: span 8;
    justify-self: start;
}

.form__tier{
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.tier{
    grid-column: span 4;
    justify-self: flex-start;

    font-size: large;
}


.tier__input{
    grid-column: span 8;
    font-size: large;
}

.form__button{
    margin-top: 2rem;
    grid-column: span 12;
    width: 7.5rem;
    height: 2.5rem;
    font-size: large;
    font-weight: bolder;
    justify-self: center;

    border-radius: 20%;

    background-color: beige;
}

.footer{
    grid-area: footer;
    grid-template-columns: repeat(12,1fr);
    
    background-color: beige;
    margin-top: 0.625rem;
    border: 0.1rem solid brown;
}

.footer__menu{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 0.8rem;

    padding: 0.1rem;
    margin: 0;

    list-style: none;
    
}

.footer__item{
    grid-column: span 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}

.footer__link{
    color: black;
}

@media screen and (max-width:40rem) {

    .name,.email,.confirm__email{
        grid-column: span 12;
        justify-self: start;
    }

    .form__name__input,
    .form__email__input,
    .form__confirm__email__input{
        grid-column: span 12;
        height: 2.4rem;
    }

    .form__checkbox__check{
        grid-column: span 12;
        justify-self: flex-start;
    }

    .checkbox{
        grid-column: span 12;
    }

    .tier{
        grid-column: span 12;
    }

    .tier__input{
        grid-column: span 12;
    }

    .form__button{
        justify-self: center;
    }

    .footer__item{
        grid-column: span 12;
    }
} 