*,*::before,*::after{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: papayawhip;
}

/* skip link css */
.skiplink{
    position: absolute;
    left: -100%;
    text-decoration: none;
}

.skiplink:focus{
    left: 50%;
}


.root{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header-nav"
        "main"
        "footer"
    ;
    height: 100%;
}

/* header and navigate should be in a div */
.header-nav{
    grid-area: header-nav;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
    ;
    background-color: burlywood;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.header__logo{
    grid-column: span 2;

    vertical-align: top;
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
}

.header__title{
    grid-column: span 10;
    display: flex;
    justify-self: center;
    align-items: center;

    margin: 0;
    font-size: 3vw;
}

.nav{
    grid-area: nav;
    margin: 0;
}

.nav__menu{
    position: relative;
    padding: 0;
}

.nav__button{
    display: none;
    flex-direction: row;
    align-items: center;
    border: none;
    
    background-color: initial;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.nav__dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: none;
    list-style: none;
    background-color: burlywood;
    padding: 0;

}

.nav__link{
    padding: 0.5rem;
}

button:hover{
    cursor:pointer;
}


.footer{
    grid-area: footer;
    background-color: burlywood;
}

.footer__menu{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 0.5rem;

    padding: 0;
    margin: 0;

    
    list-style: none;
}

.footer__item{
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__link{
    padding: 1rem;
}


/* below CSS adapted from https://css.gg under the MIT License */
.gg-menu {
    transform: scale(var(--ggs,1));
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 1.5rem;
    height: 0.1rem;
    border-radius: .1rem;
    background: currentColor;
    margin-right: 0.5rem;
}

.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -0.4rem;
}

.gg-menu::after {
    top: 0.4rem;
} 


@media screen and (max-width: 44rem) {
    .header-nav{
        grid-template-areas: none;
        grid-template-columns: repeat(12,1fr);
    }

    .header{
        grid-column: span 10;
    }

    .nav{
        grid-column: span 2;
    }
    
    .nav__button{
        display: flex;
    }

    .nav__dropdown{
        position: absolute;
        flex-direction: column;
        transform: rotateX(0deg);
    }
    .close{
        transform: rotateX(-90deg);
    }

    .nav__link{
        padding: 0;
    }

    .footer__item{
        grid-column: span 12;
    }
}