.main{
    grid-area: main;
    display: grid;
}

.card{
    display: flex;
    border: 1px black solid;
    background-color: #eee;
}

.card + .card{
    flex-direction: row;
    margin: 1rem;
}

.card:first-child{
    flex-direction: row-reverse;
    margin: 1rem 1rem 2rem;
}

.card__image__baby{
    aspect-ratio: 1/1;
    height: fit-content;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    height: 125px;
    width: 125px;
}

.card__image__hungry{
    aspect-ratio: 1/1;
    height: fit-content;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    height: 125px;
    width: 125px;
}

.card__title{
    text-align: center;
}

.card__para{
    margin: 0;
}

@media screen and (max-width: 44rem) {
    .card{
        display: block;
    }

    .card + .card{
        flex-direction: row;
        margin: 0.2em;
    }
    
    .card:first-child{
        flex-direction: row-reverse;
        margin: 0.2rem;
        border-bottom: none;
    }

    .card__image__baby{
        float: right;
    }
    
    .card__image__hungry{
        float: left;
    }
}