.card3d{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 450px;
    border: 1px solid black;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.7);
    /* background-color: aquamarine; */
}

.card3d:first-child{
    margin-left: 1rem;
}

.card3d:nth-child(-n+3){
    margin-top: 1rem;
    margin-right: 1rem;
}

.card3d:nth-child(4){
    margin-left: 1rem;
}

.card3d:nth-child(-n+6):nth-child(n+4){
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card__img{
    aspect-ratio: 1/1;
    width: 70%;
    height: 60%;
    margin-top: 0.7rem;
}

.card__title{
    text-align: center;
    color: darkgoldenrod;
}

.card__text{
    margin: 2rem;
    flex-grow: 1;
    font-size: 1.3rem;
    text-align: center;
    color: darkgoldenrod;
    font-weight: bolder;
}

.card__button {
    border-radius: 25%;
    margin-bottom: 0.5rem;
    font: 1.5rem sans-serif;
    background-color: coral;
    color: bisque;
    padding: 0.5rem;

    cursor: pointer;
}

.card3d:hover {
    animation: rotate 1.2s ease forwards;
}

.light {
    background: #fff;
    color: #333;
}
  
.dark {
    border: 1px solid white;
    border-bottom: none;
    background: #333;
    color: rgb(228, 221, 221);
}

.front, 
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    background-color: aquamarine;
    border-radius: 30px;
    backface-visibility: hidden;
    
}

.back {
    transform: rotateY(180deg);
}

@media screen and (max-width:81.25rem) {
    .card3d {
        width: auto;
    }
    
    .card3d:first-child{
        grid-column: span 6;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .card3d + .card3d{
        grid-column: span 6;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:44rem) {
    .card3d {
        width: auto;
    }
    
    .card3d:first-child{
        grid-column: span 12;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .card3d + .card3d{
        grid-column: span 12;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}
@keyframes rotate-reverse{
    0%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}