.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
}

.header__link {
    grid-column: 1/2;
}

.header__logo {
    aspect-ratio: 1/1;
    height: fit-content;
}

.header__logo__dark {
    filter: invert(80%);
}




@media screen and (max-width: 81.25rem) {
    .header {
        display: flex;
    }

    .header__link {
        padding-left: 35%;
    }
}

@media screen and (max-width: 44rem) {
    .header__link {
        padding-left: 20%;
    }
}