.header{
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "header-logo header-title"
        "header-nav header-nav"
    ;

    background-color: lightblue;
}

.header__logo{
    grid-area: header-logo;
    height: 100px;
    width: 100px;
}

.header__title{
    grid-area: header-title;
    align-content: center;
}

.header__nav {
    position: relative;
    grid-area: header-nav;
    background-color: burlywood  ;
}

@media screen and (max-width: 44rem) {
    .header {
        grid-template-areas: none;
        grid-template-columns: repeat(12,1fr);
    }

    .header__logo {
        grid-column: span 5;
    }

    .header__title {
        grid-column: span 7;
    }

    .header__nav {
        grid-column: span 2;
        display: flex;
    }
}

