#homepage{
    display: grid;
    grid-template-rows: 50px auto 40px;
    grid-template-columns: auto;
    grid-template-areas: 
        "header header header"
        "local-menu main main"
        "footer footer footer"
    ;
}

header{
    grid-area: header;
    /*#font-size: 15px;*/
    background-color: plum;
}

.local-menu{
    grid-area: local-menu;
    background-color: pink;
    border-right: 1px solid black;
}

main{
    grid-area: main;
    /*border-left: 1px solid black;*/ 
    background-color: pink;
}

main p{
    padding-left: 10px;
}

footer{
    grid-area: footer;
    text-align:left;
    padding-left: 45px;
    background-color: plum;
    font-size: 15px;
    line-height: 50px;
}

.menu{
    display: flex;
    justify-content: space-evenly;

    list-style: none;
    margin-top: 0;
}

.menu a{
    display: inline-block;
    
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.menu a:hover{
    background-color: rebeccapurple;
    color: white;
}

.local-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    row-gap: 50px;
    padding-right: 10px;
}

.local-menu ul li{
    display: inline-block;
}

.local-menu ul li a{
    display: inline-block;
    
    width: 160px;
    height: auto;
    line-height: 20px;
    
}

.local-menu ul li a:hover{
    background-color: plum;
}
